/* skin/color-theme : CoolProf */

a{
color:#00B4FF;
}
a:hover{
text-decoration:underline;
color:#00A1E5;
}
a:visited{
color:#515151;	
}

a img{
	border:none transparent;
}
img{
	vertical-align:middle;
	background: #eee;
	padding: 4px;
	max-width:400px !important;
	border:1px solid #ddd;
}


/*layout*/
/* metroprof */

#fb1 #wrapper{
	background:#fff ;
}
		#content h2, #content h3, #content h4 {
		color: #00B4FF;
	}
	
	#content h5, #content h6{
	font-family: Verdana, Sans-Serif;	
	}
	#content h2 {
	font-size:1.7em
	}
	#content h3{
	font-size:1.6em	
	} 
	#content h4{
	font-size:1.4em;	
	}
	#content h5{
	font-size:1.2em;
	}
	#content h6{
	font-size:1em;	
	font-weight:bold;	
	}


#likeus{
	background-color:#00B4FF;
	border-bottom: 2px solid #515151;
	color:#fff;
}
#likeus_txt{
	margin-top:28px;
}
	#likeus .shout{
		font-size:18px;
		font-weight:bold;
		margin:0px;
	}
	#likeus .sub{
		font-size:12px;
	}
	
/*fan gating*/
	
		.liked, .unliked{	
			color:#808080;
			}
			.liked .rewards{	
				}
		.unliked{
			}


/*footer */
#colophon{
	border-top:4px solid #00B4FF;
}			
		
/*util*/
.noborder{
	border: none;
}
.icon {
	border: none;
	background:transparent;
}
.wp-smiley{
	border:none;
	background:transparent;
	padding:0;
	margin:0;
}