/* skin/color-theme : WebPro2 */

a, a:link, a:active{
color:#f60;
font-weight:bold;
}
a:hover{
text-decoration:underline;
color:#f30;
}
a:visited{
color:#660000;	
}

a img{
	border:none transparent;
}
img{
	vertical-align:middle;
	background: #eee;
	padding: 4px;
	max-width:400px !important;
	border:1px solid #BCBCBC;
}


blockquote{
	font: bold italic 14px/18px "Palatino Linotype",Palatino, sans-serif;
	color:#555;

}


/*layout*/


#fb1 #wrapper{
	background:#E9E9E9 ;
}

	#content h2, #content h3, #content h4 {
		border-bottom:1px solid #f90;
	}


#likeus{
	background-color:#424242;
	border-bottom: 2px solid #FF9900;
	color:#fff;
}
#likeus_txt{
	margin-top:28px;
}
	#likeus .shout{
		font-size:18px;
		font-weight:bold;
		margin:0px;
	}
	#likeus .sub{
		font-size:12px;
	}
	
/*fan gating*/
	
		.liked, .unliked{	
			color:#444;
			}
			.liked .rewards{	
				}
		.unliked{
			}


/*footer */
#colophon{
	border-top:4px solid #f90;
}			
			
		
/*util*/
.noborder{
	border: none;
}
.icon {
	border: none;
	background:transparent;
}
.wp-smiley{
	border:none;
	background:transparent;
	padding:0;
	margin:0;
}