		#fb1{
				width:520px;
				/*overflow: hidden;*/
				font-family: Arial, Helvetica, sans-serif;
		}
		
		#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
    			margin: 0 auto;
    			width: 520px !important;
		}
		#wrapper{
			width:520px;
			padding: 0;
			overflow-x: hidden;
		}
		
		#main{
			padding:0;
		}
		
		#content{
			margin:0;
			padding:0;
		}
		
		#wpadminbar{
			display:none;
		}
		
		#site-title {
   		font-size: 24px;
    		line-height: 36px;
    		width:520px;
    		
		}
		#site-description{
			float:left;
		}
		
		.entry-content{
		   padding:0;
			vertical-align:top;
			position: relative;
		}
		
		
		#fbimgbanner{
			max-width:520px !important;
			width: auto;
			float:none;
			display:block;
		}
		#container {
    	float: left;
    	margin: 0 0 0 0;
    	width: 100%;
		}
		
		#content, #content input, #content textarea {
    		color: #333333;
    		font-size: 12px;
    		line-height: 18px;
		}

		.one-column #content {
    		margin: 0 auto;
    		width: 520px;
		}

		#site-info {
    		float: left;
    		font-size: 14px;
    		font-weight: bold;
    		width: 520px;
		}
		
	
		
		#fbcommentbox{
			width:500px;
			margin:0 auto;
		}
			.fb_iframe_widget_loader {
				width:500px;
				margin:0 auto;
				}


/*base skin*/
/*util*/
.clear{
	clear:both;
}
hr.clear, #content hr.clear{
	height:0px;
	margin: 0;
	padding:0;
	border: none transparent;
}

.fleft, .alignleft, img.alignleft{
	float:left;
	margin-right:10px;
	margin-left: 2px;
	margin-bottom:10px;
}

.fright, .alignright, img.alignright {
	float:right;
	margin-left: 10px;
	margin-right:2px;
	margin-bottom:10px;
}
img{
	vertical-align:middle;
}
a img{
	border:none transparent;
}
/*layout*/

#fb1 #wrapper{
	background:#fff;
}
.fbcont { /*content start*/
	padding-top:20px;
	float:left;
}
.maincol{
	width:320px;
	}
	#content .maincol h2, #content .maincol h3, #content .maincol h4 {
		clear:none;
		margin-bottom: 10px;
	}
.sidecol{
	width:180px;
	}
	.sidecol.right{
		margin-left:18px;
	}
	.sidecol.left{
		margin-right:18px;
	}

#likeus{
	background-color:#900;
	border-bottom: 2px solid #C00;
	color:#fff;
	padding:10px;
	width:500px;
	height:81px;
	margin:0;
}
#likeus_txt{
	margin-top:28px;
}
	#likeus .shout{
		font-size:18px;
		font-weight:bold;
		margin:0px;
	}
	#likeus .sub{
		font-size:12px;
	}
	
/*fan gating*/
	
		.liked, .unliked{
			font: normal 1em/1.5em Geneva, Helvetica, sans-serif;
			color:#808080;
			}
		
			.liked .rewards{
				
				}
		.unliked{}

/*embedded video container*/
.video{
	width:480px;
	margin:1em auto;
}